body,p	{
	font-size:12px ;
	font-family:Verdana, Arial, Helvetica, sans-serif ;
	text-transform:none ;
 	background:#eeeeee url(backgrounds.jpg);
	color:#e3ca76;
	}

h1{
color:#E3CA76;
font-size:20px;
font-family:Georgia;
}
h2{
color:#E3CA76;
font-size:20px;
font-family:Georgia;
}
h3{
color:#E3CA76;
font-size:20px;
font-family:Georgia;
}
p{
font-size:15px;
font-family:Georgia;
text-align : justify;
}

#title
{
color:#E3CA76;
background:#333;
padding-bottom:5px;
}

A:LINK	{
	text-decoration: underline ;
	}
A:VISITED
  	{
	color:#E3CA76 ;
	text-decoration:none ;
	text-transform:none ;
	font-weight:bold;
	}

A:HOVER	{
  	color:#E3CA76 ;
	text-decoration:none ;
	text-transform:none ;
	}

.banner	{
	position:absolute ;
	top:50px ;
	left:50px ;
	height:200px ;
	width:670px ;
	z-index:3 ;
	border: none;
	background:#eeeeee url(eagle.jpg);
	}
.menu1	{
	position:absolute ;
	text-align : center;
	font-size:20px;
	top:255px ;
	left:50px ;
	height:68px ;
	width:145px ;
	z-index:3 ;
	border: solid;
	background-color:#444 ;
	}
.menu2	{
	position:absolute ;	
	text-align : center;
	font-size:20px;	
	top:335px ;
	left:50px ;
	height:68px ;
	width:145px ;
	z-index:3 ;
	border: solid;
	background-color:#444;
	}
.menu3	{
	position:absolute ;
	text-align : center;	
	font-size:20px;	
	top:550px ;
	left:300px ;
	height:68px ;
	width:145px ;
	z-index:3 ;
	border: solid;
	background-color:#444;
	}
.menu4	{
	position:absolute ;
	text-align : center;	
	font-size:20px;	
	top:335px ;
	left:50px ;
	height:68px ;
	width:145px ;
	z-index:3 ;
	border: solid;
	background-color:#444;
	}
.body	{
	position:absolute ;
	text-align: justify;
	top:245px ;
	left:205px ;
	height:550px ;
	width:675px ;
	z-index:3 ;
	border: none;
	}
.badan  {
	position:absolute ;
	top:35px ;
	left:50px ;
	height:550px ;
	width:655px ;
	z-index:3 ;
	border: none;
	}
.vert-grad1
	{
	position:absolute ;
	top:50px ;
	left:710px ;
	height:692px ;
	width:200px ;
	z-index:3 ;
	border: none;
	background:#eeeeee url(backgrounds.jpg);
	}
.vert-grad2
	{
	position:absolute ;
	top:50px ;
	left:910px ;
	height:692px ;
	width:200px ;
	z-index:3 ;
	border: none;
	background:#eeeeee url(backgrounds.jpg);
	}
.vert-grad3
	{
	position:absolute ;
	top:50px ;
	left:1110px ;
	height:692px ;
	width:200px ;
	z-index:3 ;
	border: none;
	background:#eeeeee url(backgrounds.jpg);
	}